---
import type { GetStaticPathsOptions } from "astro";
import Base from "../../../layouts/Base.astro";
import ArticleList from "../../../components/ArticleList.astro";
import Pagination from "../../../components/Pagination.astro";
import { makeTagPaths } from "../../../utils/collections";

export const getStaticPaths = (opts: GetStaticPathsOptions) => makeTagPaths("en", opts);

const { page } = Astro.props;
const { tag } = Astro.params;
---

<Base title={`Tag: ${tag}`} lang="en">
  <div class="container-inner">
    <h1 class="text-3xl font-bold mb-8">Tag: {tag}</h1>
    <ArticleList articles={page.data} />
    <Pagination page={page} />
  </div>
</Base>
