---
import Base from "../../../layouts/Base.astro";
---

<Base title="Фото" lang="ua">
  <div class="container-inner">
    <h1 class="text-3xl font-bold mb-4">Фотографія</h1>
    <p class="text-gray-600">Незабаром.</p>
  </div>
</Base>
